// color: #414141;
// color: #585858;
// color: #191919;
// color: #1f2044;
// color: #8b8b8b;
// color: #262626;
// color: #222933;
// color: #1f2044;
$base: #436372;
$title: #243f4d;
$button-active: #1a1a1a;
$btn: #a3bbc8;
$footer: #7b7b7b;
$bg: #fcd7b6;
$bg-opacity: rgba(252, 215, 182, 0.2);
%rubik-500 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
%rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
%dm-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}
%dm-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}
%dm-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}
%poppins-700 {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}
%btn {
  display: inline-block;
  padding: 22px 101px 22px 28px;
  background-color: $btn;
  font-size: 15px;
  @extend %rubik-500;
}
