// color: #436372;
// color: #414141;
// color: #585858;
// color: #191919;
// color: #1a1a1a;
// color: #243f4d;
// color: #a3bbc8;
// color: #262626;
// color: #222933;
// color: #7b7b7b;
// color: #1f2044;

%rubik-500 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
%rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
%dm-400 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
%dm-500 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
%dm-700 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
%poppins-700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}