@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo {
  display: flex;
  align-items: center;
  color: $base;
  &__text {
    font-size: 36px;
    line-height: 58px;
    margin-left: 12px;
    @extend %rubik-500;
  }
}
.menu__list {
  display: flex;
  &-link {
    @extend %rubik-500;
    color: $base;
  }
  &-item + .menu__list-item {
    margin-left: 30px;
  }
}
.user-nav {
  display: flex;
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-color: $button;
  }
  &__link:first-child {
    margin-right: 20px;
    background-color: rgba(163, 187, 200, 0.2);
  }
  &__link:last-child {
    margin-left: 20px;
  }
  &__basket {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 171px;
    border-radius: 25px;
    background-color: #fcd7b6;
    &::after {
      content: "";
      position: absolute;
      opacity: 0.4;
      width: 1px;
      height: 32px;
      background-color: #ffffff;
    }
    &-link {
      position: relative;
    }
    &-num {
      position: absolute;
      top: -10px;
      left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 17px;
      height: 17px;
      background-color: #fff;
      border-radius: 50%;
      font-size: 10px;
      line-height: 27px;
      color: #243f4d;
      @extend %dm-400;
    }
  }
}
.footer-top {
  display: flex;
  padding: 77px 0;
  border-bottom: 1px solid $button;
  &__contact {
    width: 200px;
    margin-right: 108px;
  }
  &__logo {
    margin-bottom: 35px;
  }
  &__address,
  &__phone,
  &__email {
    color: $footer;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
  }
  &__address {
    display: block;
    margin-bottom: 10px;
  }
  &__phone,
  &__email {
    line-height: 36px;
    text-transform: uppercase;
  }
  &__items {
    width: 120px;
    margin-right: 177px;
  }
  &__title {
    margin: 30px 0;
    font-size: 16px;
    line-height: 21px;
    @extend %dm-700;
    color: #1f2044;
    text-transform: uppercase;
  }
  &__link {
    @extend %rubik-400;
    color: $footer;
    font-size: 14px;
    line-height: 32px;
  }
  &__items-form {
    max-width: 270px;
    width: 100%;
  }
  &__text {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: $footer;
    margin-bottom: 37px;
  }
  &__form-input {
    max-width: 170px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border: none;
    background-color: $bg-opacity;
    &::placeholder {
      font-size: 12px;
      color: #234969;
    }
  }
  &__form-btn {
    margin-left: -4px;
    padding: 14px 18px;
    border: none;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    background-color: $btn;
    cursor: pointer;
  }
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 91px;
  &__copy,
  &__link {
    font-size: 14px;
    line-height: 17px;
    color: $footer;
    @extend %rubik-400;
  }
  &__items {
    display: flex;
  }
  &__item + .footer-bottom__item {
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid $footer;
  }
}
// hero block
.hero-slider {
  padding: 226px 0 45px;
  background-image: url(../images/bg-slider.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  &__title {
    width: 411px;
    font-size: 72px;
    line-height: 70px;
    @extend %rubik-500;
    color: $title;
    margin-bottom: 45px;
  }
  &__text {
    width: 360px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 40px;
  }
  &__link {
    @extend %btn;
    color: #fff;
    margin-bottom: 205px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 9px;
      background-image: url(../images/icons/arrow-right.png);
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
    }
  }
  &__img {
    padding-bottom: 120px;
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    li {
      line-height: 0;
      padding: 0 5px;
      button {
        border: none;
        padding: 0;
        font-size: 11px;
        width: 30px;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        color: $title;
        @extend %rubik-500;
        line-height: 9px;
      }
      &.slick-active {
        button {
          background-color: rgba(255, 255, 255);
        }
      }
    }
  }
}
.hero-bottom {
  display: flex;
  justify-content: space-around;
  padding: 38px 0;
  background-color: $bg-opacity;
  position: relative;
  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    background-color: $title;
    opacity: 0.1;
  }
  &::after {
    right: 33.33%;
  }
  &::before {
    left: 33.33%;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    &:nth-child(2) {
      .hero-bottom__img {
        padding-top: 15px;
      }
      .hero-bottom__title {
        margin-bottom: 0;
        line-height: 38px;
      }
      .hero-bottom__text {
        width: 213px;
      }
    }
  }
  &__img {
    display: inline-block;
    padding-right: 25px;
  }
  &__info {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      top: 33px;
      left: -40px;
      background-color: $btn;
      border-radius: 50%;
      opacity: 0.3;
    }
  }
  &__title {
    font-size: 18px;
    margin-bottom: 15px;
    color: #414141;
    @extend %dm-700;
  }
  &__text {
    width: 200px;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
  }
}
.video {
  background-image: url(../images/bg-video.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 79%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__inner {
  
  }
}

@import "media";
