@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo {
  display: flex;
  align-items: center;
  color: $base;
  &__text {
    font-size: 36px;
    line-height: 58px;
    margin-left: 12px;
    @extend %rubik-500;
  }
}
.menu__list {
  display: flex;
  &-link {
    @extend %rubik-500;
    color: $base;
  }
  &-item + .menu__list-item {
    margin-left: 30px;
  }
}
.user-nav {
  display: flex;
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-color: $button;
  }
  &__link:first-child {
    margin-right: 20px;
    background-color: rgba(163, 187, 200, 0.2);
  }
  &__link:last-child {
    margin-left: 20px;
  }
  &__basket {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 171px;
    border-radius: 25px;
    background-color: #fcd7b6;
    &::after {
      content: "";
      position: absolute;
      opacity: 0.4;
      width: 1px;
      height: 32px;
      background-color: #ffffff;
    }
    &-link {
      position: relative;
    }
    &-num {
      position: absolute;
      top: -10px;
      left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 17px;
      height: 17px;
      background-color: #fff;
      border-radius: 50%;
      font-size: 10px;
      line-height: 27px;
      color: #243f4d;
      @extend %dm-400;
    }
  }
}
.footer-top {
  display: flex;
  padding: 77px 0;
  border-bottom: 1px solid $button;
  &__contact {
    width: 200px;
    margin-right: 108px;
  }
  &__logo {
    margin-bottom: 35px;
  }
  &__address,
  &__phone,
  &__email {
    color: $footer;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
  }
  &__address {
    display: block;
    margin-bottom: 10px;
  }
  &__phone,
  &__email {
    line-height: 36px;
    text-transform: uppercase;
  }
  &__items {
    width: 120px;
    margin-right: 177px;
  }
  &__title {
    margin: 30px 0;
    font-size: 16px;
    line-height: 21px;
    @extend %dm-700;
    color: #1f2044;
    text-transform: uppercase;
  }
  &__link {
    @extend %rubik-400;
    color: $footer;
    font-size: 14px;
    line-height: 32px;
  }
  &__items-form {
    max-width: 270px;
    width: 100%;
  }
  &__text {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: $footer;
    margin-bottom: 37px;
  }
  &__form-input {
    max-width: 170px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border: none;
    background-color: $bg-opacity;
    &::placeholder {
      font-size: 12px;
      color: #234969;
    }
  }
  &__form-btn {
    margin-left: -4px;
    padding: 14px 18px;
    border: none;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    background-color: $btn;
    cursor: pointer;
  }
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 91px;
  &__copy,
  &__link{
    font-size: 14px;
    line-height: 17px;
    color: $footer;
    @extend %rubik-400;
  }
  &__items {
    display: flex;
  }
  &__item + .footer-bottom__item {
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid $footer;
  }
}
@import "media";
